@import "tailwindcss";

@theme {
  --perspective-1000: 1000px;
}

@utility perspective-1000 {
  perspective: 1000px;
}

@utility preserve-3d {
  transform-style: preserve-3d;
}

@utility backface-hidden {
  backface-visibility: hidden;
}

@utility rotate-y-180 {
  transform: rotateY(180deg);
}

body {
  @apply bg-slate-50 text-slate-900 antialiased overflow-hidden;
  touch-action: pan-y;
}

